body{
    margin: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    }

nav a {
    color: blanchedalmond;
    text-decoration: none;
    padding: 5px;
}
        
nav a:hover {
    color: #6B0F1A;
}