html{
    font-size: 10px;
}

body{
    margin: 0px;
    padding: 0px;
}

/* Anchura del scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    background: white;
}

/* Estilo del thumb (la parte desplazable) */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Hover sobre el thumb */
::-webkit-scrollbar-thumb:hover {
    background: #6B0F1A;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: blanchedalmond;
    text-decoration: none;
    padding: 5px;
}
        
nav a:hover {
    color: #6B0F1A;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}